@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*************** Common Utilities ****************/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.button a{
    background-color: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.button:hover a{
    background-image: linear-gradient(-180deg, #E02C6D, #ff76a8);
    transition: 0.5s;
    border-radius: 10px;
    padding: 10px 24px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}


.manu-items:hover  a {
    background-image: linear-gradient(-180deg, #E02C6D, #ff76a8);
    transition: 0.5s;
    border-radius: 10px;
    padding: 10px 24px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.all-players .player:hover  {
    transform: scale(1.1);
    transition: transform 2s ease;

}

.matches:hover {
    width: 400px;
    padding: 50px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 10%;
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}


.news-videos:hover iframe {
    width: 567px;
    height: 427px;
    border-radius: 10%;
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}   

.half-width:hover img{
    width: 556px;
    margin-bottom: 85px;
    margin-left: 50px;
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}

.club-partner:hover  {
    padding: 10px;
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}
/*************** Manu and Header Banner Area Styles ****************/
header {
    background-color: #2D25A0;
    display: inline-block;
    display: flex;
    flex-direction: column;
}

.manu {
    margin-top: 50px;
}

.manu-items  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.heading-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.heading-content {
    margin-left: 100px;
}

.half-width img{
    width: 556px;
    margin-bottom: 85px;
    margin-left: 50px;
}

.header-heading {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

/**************** Main Part Style ********************/

main {
    display: flex;
    flex-direction: column;
    align-items:center;
}


/**************** Player List Style ********************/

.all-players .player img {
    width: 300px;
    height: 256px;

}

.all-players {
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 26px;
    margin-top: 100px;
}

.player-info {
    width: 300px;
}

.player {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 27px;
    overflow: hidden;
}

.player-info p {
    color: #6C6C6C;
}

.player-info h3 {
    font-size: 28px;
    line-height: 10px;
}

/****************** Upcoming Match Area Style ***************/

.upcoming-matches {
    margin-top: 150px;
}

.matches {
    width: 400px;
    padding: 50px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 10%;
}

.section-heading h1 {
    text-align: center;
    font-size: 40px;
}

.upcoming-match-detail  {
    text-align: center;
    line-height: 10px;
}

.upcoming-match-detail span {
    line-height: 10px;
}

.upcoming-match-detail img {
    width: 120px;
    margin-top: 20px;
}

.team {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.teams h2 {
    text-align: center;
    font-size: 40px;
    line-height: 10px;
}

.team img {
    width: 86px;
}

#buy-ticket-button {
    text-align: center;
}

/************** Highliting News Area Style ******************/

.news {
    display: flex;
    margin-top: 165px;
}

.news-videos iframe {
    width: 567px;
    height: 427px;
    border-radius: 10%;
}

.news-detail {
    width: 469px;
    padding: 20px;
    margin-right: 65px;
}

.news-detail h1{
    font-size: 48px;
}

.news-detail p{
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 50px;
}


/******************* Club Partner Area Style *********************/
.club-partners h1{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.club-partner {
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 25%;
    text-align: center;
}

.club-partner img {
    padding: 10px;
}





/*********************** Footer Area Style *********************/

footer {
    text-align: center;
    margin-top: 200px;
}

.footer-image img {
    width: 483.87px;
    height: 110px;
}

.footer-social-icon {
    font-size: 25px;
    margin-top: 20px;
    
}

.footer-social-icon i{
    margin-left: 25px;
}

.footer-social-icon p{
    font-size: 18px;
}


/**************************** 
        Responsive Area
 ****************************/

/************* Mobile Responsiveness *******************/

 @media only screen and (max-width:688px) {
    .heading-banner {
        display: grid;
        grid-template-columns: 1fr;
    }

    .half-width {
        display: flex;
        flex-direction: row;
        align-items:center;
        margin-bottom: 50px;
   }

   .heading-banner {
       margin-left: -50px;
   }

   .half-width h1 {
       font-size: 40px;
   }

   .half-width img {
       width: 80%;
   }

   .all-players {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 26px;
    margin-top: 100px;
   }

   .player,   {
    width: 200px;
   }
  
   .upcoming-matches {
        align-items: center;
        padding: 20px;
   }
   .upcoming-matches h1 {
       font-size: 35px;
   }

   .upcoming-match-detail  {
       line-height: 10px;
   }

   .matches {
       width: 70%;
       padding: 50px;
   }

   .team {
       padding: 20px;
   }

   .team h1 {
       font-size: 20px;
   }

   .team img {
       width: 50px;
   }

   .upcoming-match-detail span{
       line-height: 20px;
   }

   .news {
    display: grid;
    grid-template-columns: 1fr;
    width: 85%; 
  }

  .news-detail  {
      width: 100%;
      align-items: center;
  }

  .news-detail h1{
      text-align: center;
      font-size: 35px;
  }

  .news-detail p{
      text-align: center;
     width: 100%;
  }

  #watch-more-btn {
    text-align: center;
  }

  .news-videos iframe {
    width: 95%;
    height: 215px;
    border-radius: 5%;
  }

  .club-partners img {
    width: 50%;
  }

    .manu {
        display: none;
    }

    footer  {
        width: 100%;
    }

    .footer-image img {
        width: 80%;
    }
 }    
/************* Table Responsiveness *******************/
@media only screen and (min-width: 688px) and (max-width: 992px) {

    .heading-banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
   }

   header {
       display: inline-block;
   }

    .half-width {
        display: flex;
        flex-direction: row;
        align-items:center;
        margin-bottom: 50px;
   }

    .all-players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 26px;
        margin-top: 100px;
       }
}
 

